<html>
  <head>
    <title>Sample Euskadi GeoChart</title>
    <meta content="">
    <script src="static/geochart-euskadi/js/euskadi_gc.js"></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="/static/jquery/jquery.cookie.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 50px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
    </style>

    <script type='text/javascript'>

      steps = [
        ["Año 1997 - Primer trimestre", "{\"ano\": 1997, \"trimestre\": 1}"],
        ["Año 1997 - Segundo trimestre", "{\"ano\": 1997, \"trimestre\": 2}"],
        ["Año 1997 - Tercer trimestre", "{\"ano\": 1997, \"trimestre\": 3}"],
        ["Año 1997 - Cuarto trimestre", "{\"ano\": 1997, \"trimestre\": 4}"],
        ["Año 1998 - Primer trimestre", "{\"ano\": 1998, \"trimestre\": 1}"],
        ["Año 1998 - Segundo trimestre", "{\"ano\": 1998, \"trimestre\": 2}"],
        ["Año 1998 - Tercer trimestre", "{\"ano\": 1998, \"trimestre\": 3}"],
        ["Año 1998 - Cuarto trimestre", "{\"ano\": 1998, \"trimestre\": 4}"],
        ["Año 1999 - Primer trimestre", "{\"ano\": 1999, \"trimestre\": 1}"],
        ["Año 1999 - Segundo trimestre", "{\"ano\": 1999, \"trimestre\": 2}"],
        ["Año 1999 - Tercer trimestre", "{\"ano\": 1999, \"trimestre\": 3}"],
        ["Año 1999 - Cuarto trimestre", "{\"ano\": 1999, \"trimestre\": 4}"],
        ["Año 2000 - Primer trimestre", "{\"ano\": 2000, \"trimestre\": 1}"],
        ["Año 2000 - Segundo trimestre", "{\"ano\": 2000, \"trimestre\": 2}"],
        ["Año 2000 - Tercer trimestre", "{\"ano\": 2000, \"trimestre\": 3}"],
        ["Año 2000 - Cuarto trimestre", "{\"ano\": 2000, \"trimestre\": 4}"],
        ["Año 2001 - Primer trimestre", "{\"ano\": 2001, \"trimestre\": 1}"],
        ["Año 2001 - Segundo trimestre", "{\"ano\": 2001, \"trimestre\": 2}"],
        ["Año 2001 - Tercer trimestre", "{\"ano\": 2001, \"trimestre\": 3}"],
        ["Año 2001 - Cuarto trimestre", "{\"ano\": 2001, \"trimestre\": 4}"],
        ["Año 2002 - Primer trimestre", "{\"ano\": 2002, \"trimestre\": 1}"],
        ["Año 2002 - Segundo trimestre", "{\"ano\": 2002, \"trimestre\": 2}"],
        ["Año 2002 - Tercer trimestre", "{\"ano\": 2002, \"trimestre\": 3}"],
        ["Año 2002 - Cuarto trimestre", "{\"ano\": 2002, \"trimestre\": 4}"],
        ["Año 2003 - Primer trimestre", "{\"ano\": 2003, \"trimestre\": 1}"],
        ["Año 2003 - Segundo trimestre", "{\"ano\": 2003, \"trimestre\": 2}"],
        ["Año 2003 - Tercer trimestre", "{\"ano\": 2003, \"trimestre\": 3}"],
        ["Año 2003 - Cuarto trimestre", "{\"ano\": 2003, \"trimestre\": 4}"],
        ["Año 2004 - Primer trimestre", "{\"ano\": 2004, \"trimestre\": 1}"],
        ["Año 2004 - Segundo trimestre", "{\"ano\": 2004, \"trimestre\": 2}"],
        ["Año 2004 - Tercer trimestre", "{\"ano\": 2004, \"trimestre\": 3}"],
        ["Año 2004 - Cuarto trimestre", "{\"ano\": 2004, \"trimestre\": 4}"],
        ["Año 2005 - Primer trimestre", "{\"ano\": 2005, \"trimestre\": 1}"],
        ["Año 2005 - Segundo trimestre", "{\"ano\": 2005, \"trimestre\": 2}"],
        ["Año 2005 - Tercer trimestre", "{\"ano\": 2005, \"trimestre\": 3}"],
        ["Año 2005 - Cuarto trimestre", "{\"ano\": 2005, \"trimestre\": 4}"],
        ["Año 2006 - Primer trimestre", "{\"ano\": 2006, \"trimestre\": 1}"],
        ["Año 2006 - Segundo trimestre", "{\"ano\": 2006, \"trimestre\": 2}"],
        ["Año 2006 - Tercer trimestre", "{\"ano\": 2006, \"trimestre\": 3}"],
        ["Año 2006 - Cuarto trimestre", "{\"ano\": 2006, \"trimestre\": 4}"],
        ["Año 2007 - Primer trimestre", "{\"ano\": 2007, \"trimestre\": 1}"],
        ["Año 2007 - Segundo trimestre", "{\"ano\": 2007, \"trimestre\": 2}"],
        ["Año 2007 - Tercer trimestre", "{\"ano\": 2007, \"trimestre\": 3}"],
        ["Año 2007 - Cuarto trimestre", "{\"ano\": 2007, \"trimestre\": 4}"],
        ["Año 2008 - Primer trimestre", "{\"ano\": 2008, \"trimestre\": 1}"],
        ["Año 2008 - Segundo trimestre", "{\"ano\": 2008, \"trimestre\": 2}"],
        ["Año 2008 - Tercer trimestre", "{\"ano\": 2008, \"trimestre\": 3}"],
        ["Año 2008 - Cuarto trimestre", "{\"ano\": 2008, \"trimestre\": 4}"],
        ["Año 2009 - Primer trimestre", "{\"ano\": 2009, \"trimestre\": 1}"],
        ["Año 2009 - Segundo trimestre", "{\"ano\": 2009, \"trimestre\": 2}"],
        ["Año 2009 - Tercer trimestre", "{\"ano\": 2009, \"trimestre\": 3}"],
        ["Año 2009 - Cuarto trimestre", "{\"ano\": 2009, \"trimestre\": 4}"],
        ["Año 2010 - Primer trimestre", "{\"ano\": 2010, \"trimestre\": 1}"],
        ["Año 2010 - Segundo trimestre", "{\"ano\": 2010, \"trimestre\": 2}"],
        ["Año 2010 - Tercer trimestre", "{\"ano\": 2010, \"trimestre\": 3}"],
        ["Año 2010 - Cuarto trimestre", "{\"ano\": 2010, \"trimestre\": 4}"],
        ["Año 2011 - Primer trimestre", "{\"ano\": 2011, \"trimestre\": 1}"],
        ["Año 2011 - Segundo trimestre", "{\"ano\": 2011, \"trimestre\": 2}"],
        ["Año 2011 - Tercer trimestre", "{\"ano\": 2011, \"trimestre\": 3}"],
        ["Año 2011 - Cuarto trimestre", "{\"ano\": 2011, \"trimestre\": 4}"],
        ["Año 2012 - Primer trimestre", "{\"ano\": 2012, \"trimestre\": 1}"],
        ["Año 2012 - Segundo trimestre", "{\"ano\": 2012, \"trimestre\": 2}"],
        ["Año 2012 - Tercer trimestre", "{\"ano\": 2012, \"trimestre\": 3}"],
        ["Año 2012 - Cuarto trimestre", "{\"ano\": 2012, \"trimestre\": 4}"],
        ["Año 2013 - Primer trimestre", "{\"ano\": 2013, \"trimestre\": 1}"],
        ["Año 2013 - Segundo trimestre", "{\"ano\": 2013, \"trimestre\": 2}"],
        ["Año 2013 - Tercer trimestre", "{\"ano\": 2013, \"trimestre\": 3}"],
        ["Año 2013 - Cuarto trimestre", "{\"ano\": 2013, \"trimestre\": 4}"],
      ];


      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
      }

      var bizkaia = {{BIZKAIA}};
      var gipuzkoa = {{GIPUZKOA}};
      var araba = {{ARABA}};
      google.load('visualization', '1');
      google.setOnLoadCallback(drawRegionsMap);
      $(function() {

        $( "#slider" ).slider({
          value: 67,
          slide: function( event, ui ) {
            $( "#titulo-ano" ).html( steps[ui.value][0] );
          },
          stop: function( event, ui ) {
            $( "#titulo-ano" ).html( steps[ui.value][0] );
            var csrftoken = $.cookie('csrftoken');
            $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
              }
            });
            var posting = $.post("/provincias", {json: steps[ui.value][1]});

            posting.done(function( data ) {
              var json = jQuery.parseJSON(data);
              bizkaia = json.bizkaia;
              araba = json.araba;
              gipuzkoa = json.gipuzkoa;

              drawRegionsMap();
            });
            //bizkaia = 0;
            //


          }
        });
        $( "#slider" ).slider( "option", "max", 67 );
        $( "#slider" ).slider( "option", "min", 0 );
        $( "#slider" ).slider( "option", "step", 1 );
      });

      function drawRegionsMap() {
	  //$("#svgmap").html("<p>Loading content...</p>");

        var data = google.visualization.arrayToDataTable([
    	      ['Province', 'Paro (%)'],
    	      ['Bizkaia', bizkaia],
    	      ['Gipuzkoa', gipuzkoa],
    	      ['Araba', araba]
    	  ]);

    	  var options = {
    	      title:'Euskadi',
    	      //width:650,
    	      //height:400,
    	      region:'ES-PV',
    	      // Implemented resolutions: 'municipality', 'comarcas' and 'provinces'
    	      resolution:'provinces',
    	      labels:false,
    	      colorAxis: {colors: ['#d7a12c', '#702f05']}
    	  };

    	  loadMap(data, options);
    }

    </script>

    <style></style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Distribución del paro por provincias</h1>
        <h2 id="titulo-ano">Año 2013 - Cuarto trimestre</h2>
        <div id="slider"></div>
        <br />
        <div id="svgmap"></div>
      </div>

    </div>
  </body>
</html>
