<html>
  <head>
    <title>Sample Euskadi GeoChart</title>
    <meta content="">
    <script src="static/geochart-euskadi/js/euskadi_gc.js"></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="/static/jquery/jquery.cookie.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 50px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
    </style>

    <script type='text/javascript'>

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
      }

      var bizkaia = {{BIZKAIA}};
      var gipuzkoa = {{GIPUZKOA}};
      var araba = {{ARABA}};
      google.load('visualization', '1');
      google.setOnLoadCallback(drawRegionsMap);
      $(function() {

        $( "#slider" ).slider({
          value: 2013,
          stop: function( event, ui ) {
            $( "#titulo-ano" ).html( "Año " + ui.value);
            var csrftoken = $.cookie('csrftoken');
            $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
              }
            });
            var posting = $.post("/provincias", {ano: ui.value});

            posting.done(function( data ) {
              var json = jQuery.parseJSON(data);
              bizkaia = json.bizkaia;
              araba = json.araba;
              gipuzkoa = json.gipuzkoa;

              drawRegionsMap();
            });
            //bizkaia = 0;
            //


          }
        });
        $( "#slider" ).slider( "option", "max", 2013 );
        $( "#slider" ).slider( "option", "min", 1997 );
        $( "#slider" ).slider( "option", "step", 1 );
      });

      function drawRegionsMap() {
	  //$("#svgmap").html("<p>Loading content...</p>");

        var data = google.visualization.arrayToDataTable([
    	      ['Province', 'Paro (%)'],
    	      ['Bizkaia', bizkaia],
    	      ['Gipuzkoa', gipuzkoa],
    	      ['Araba', araba]
    	  ]);

    	  var options = {
    	      title:'Euskadi',
    	      //width:650,
    	      //height:400,
    	      region:'ES-PV',
    	      // Implemented resolutions: 'municipality', 'comarcas' and 'provinces'
    	      resolution:'provinces',
    	      labels:false,
    	      colorAxis: {colors: ['#d7a12c', '#702f05']}
    	  };

    	  loadMap(data, options);
    }

    </script>

    <style></style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Distribución del paro por provincias</h1>
        <h2 id="titulo-ano">Año 2013</h2>
        <div id="slider"></div>
        <br />
        <div id="svgmap"></div>
      </div>

    </div>
  </body>
</html>
